body  
{  
    margin: 0;  
    padding: 0;  
    background-color: white;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20  0 450px;  
        padding: 80px;  
        background: #04AA6D;  
        border-radius: 15px ;  
        text-align:center;
       
          
}  
h2{  
    text-align: center;  
    color: #1B3A64;  
    padding: 20px;  
}  
#loginLabel{  
    color: white;  
    font-size: 17px;  
  
}  
#Uname{  

    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
    
}  
#Pass{  
    
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
  margin-top: 20px;
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: 1B3A64;  
}  

#failMsg{  
    margin-top: 20px;
      color: White;  
  }  

span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  
label{
    color:black;
}
input.ng-invalid{
    border-left: 5px solid red;
  }
  
  input.ng-valid{
    border-left: 5px solid green;
  }
  .error{
    color: red;
  }